.venv
mundo3/aula22/__pycache__
mundo3/aula22/pacote_uteis/__pycache__
mundo3/exercicios/ex107/__pycache__
mundo3/exercicios/ex108/__pycache__
mundo3/exercicios/ex109/__pycache__
mundo3/exercicios/ex110/__pycache__