.venv
mundo3/aula22/__pycache__
mundo3/aula22/pacote_uteis/__pycache__
mundo3/exercicios/ex107/__pycache__
mundo3/exercicios/ex108/__pycache__
mundo3/exercicios/ex109/__pycache__
mundo3/exercicios/ex110/__pycache__
mundo3/exercicios/ex111/utilidadesCeV/__pycache__
mundo3/exercicios/ex111/utilidadesCeV/dado/__pycache__
mundo3/exercicios/ex111/utilidadesCeV/moeda/__pycache__
mundo3/exercicios/ex112/utilidadesCeV/__pycache__
mundo3/exercicios/ex112/utilidadesCeV/dado/__pycache__
mundo3/exercicios/ex112/utilidadesCeV/moeda/__pycache__
mundo3/exercicios/ex115/__pycache__